<div class="dribbble">
  <div class="dribbble__container">
    <p class="dribbble__text">
      More designs?
      Check my <a target="_blank" href="https://dribbble.com/MarinaAisa" class="ani dribbble"><span>Dribbble</span></a>.
    </p>
    <ul class="dribbble__posts"></ul>
  </div>
</div>