<footer class="footer">
	<div class="footer__main">
		<div class="footer__container">
			<div class="footer__contact">
				<span class="text-negative">
				<br>Feel free to ask for help anytime to the instructors.<br>
				Here you can find my <a target="_blank" href="mailto:marina@marinaaisa.com" class="ani"><span>email</span></a> if you want to contact me in the future. <br></span>
				I really hope you enjoy and learn a lot in this workshop <any emoji="winking-face"></any>.
			</div>
		</div>
	</div>
	<div class="footer__info">
		<div class="footer__container">
			<div class="footer__copyright">
				© 2017 — Workshop designed by <span class="text-negative"> Marina Aisa</span>, you can find all the code and instructions on <a target="_blank" href="https://github.com/marinaaisa/workshop-personal-website" class="ani"><span>Github</span></a>.
			</div>
			<a href="#top" class="footer__top-page">
				<i class="fa fa-angle-up" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</footer>
