<div class="hero" id="hero">
	<div class="hero__content">
    <img src="/images/profile-picture.png" class="hero__profile" alt="Marina Aisa Picture" />
    <div class="hero__text">
      <h1 id="hero-text"> <span id="hero-text-content"></span></h1>
    </div>
	</div>
</div>