<div class="map">
  <div class="map__container">
    <div class="map__title">
      <h1>Hobby: Discovering the world <any emoji="rocket"></h1>
    </div>
    <div class="map__content">
      <div class="map__text">
        <p>
          These are all the countries that I have <span class="map__text--visited">visited</span> or <span class="map__text--lived">lived in</span>.
          <br>USA coming <any emoji="soon-arrow">
        </p>
      </div>
      <div class="map__map">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>