---
title: Home
body: home
layout: home
---
<div class="hero" id="hero">
  <div class="hero__content">
    <img src="/images/profile-picture.png" class="hero__profile" alt="Marina Aisa Picture" />
    <div class="hero__text">
      <h1>Workshop: how to create your personal website or portfolio</h1>
    </div>
  </div>
</div>
<div id="portfolio" class="portfolio">
  <div class="portfolio__title">
    <h1>Exercises <any emoji="writing-hand" emoji-tone="light"></any></h1>
  </div>
  <div class="portfolio__content">
    <ul>
      <li>
        Exercise 1: Clone the files from Github, install all the dependencies and run Middleman.
        <br>Congrats, you have already done it :)
      </li>
      <li>
        <a href="/exercise2">Exercise 2: describe yourself with TheaterJS</a>
      </li>
      <li>
        <a href="/exercise3">Exercise 3: build your portfolio with Data</a>
      </li>
      <li>
        <a href="/exercise4">Exercise 4: write your own work experience with Data</a>
      </li>
      <li>
        <a href="/exercise4">Exercise 5 (advance): world map or Dribbble</a>
      </li>
      <li>
        Final Exercise: put everything together
      </li>
    </ul>
  </div>
</div>
<%= partial "partials/footer" %>